#container{
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  margin-left: 10%;
  margin-right: 8%;
  margin-bottom: 30px;
  justify-items: center;
 
}
body{
  background-color: rgba(48, 173, 173, 0.1);
}
#image{
  flex:0.15;
  padding: 15px;
  border-radius: 40px;
}
#content{
  flex:0.65;
  text-align:left;
  padding: 15px;
}
#price{
  flex:0.17;
  text-align: left;
  padding: 40px;

}
#flip{
  display: inline;
}
h3{
  display: inline;
}
h2{
  padding-left: 15px;
}
h1{
  color: #1022ff;
  text-align: center;
}
#first{
  color: #00e000;
  display: inline;
}
del{
  color:gray;
  display:inline;
}
li{
  color:gray;
}
b{
  font-weight: bold;
  color: #00e000;
  font-size: 13px;
}
#last{
  font-size: 15px;
  padding-top: 3px;
}